/* colors and fonts */

body {
background:#F8EDEB;
color: rgb(50,50,50);
font-family: helvetica;
font-size: 18px; 
}
h1 {
color:#F38375;
font-family: 'Pangolin', cursive;
font-size: 35px;
font-weight: lighter;
}

h2{  
color:#FF477E;
font-family: 'Merriweather', serif;
font-size: 32x;
}
a{text-decoration: none;
	color: blue;
}
a:hover {
	color: red;

}
/* custom design with class (99 of your design)*/
.container {
width: 700px;
margin: 40px auto;
}
.img-circle {
  border-radius: 50%;
}
.text-center {
  text-align: center;
}
.card-white {
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
}

@media (max-width: 760px) {.container {width:600px;
}
@media (max-width: 500px{.container {width:400px;
}
.image-rendering:  {
	border-radius:  50;

}
     .bottom: blue background: -color: pink;
	color:  white;

}
.list-inline {
  list-style: none; /* kill the bullet points */
  padding-left: 0px; /* kill remaining padding left */
}
.list-inline > li {
  display: inline; /* change list item behavior to inline */
  padding: 0px 20px; /* add som left/right padding between list items */
}

/*design adjustement using id ( 1 design remainig) */
#introduction p {
	margin-bottom: 40px;
}